# OS
.DS_Store
Thumbs.db
desktop.ini

# Editor
.vscode/
.idea/
*.swp
*.swo

# Temp
*.tmp
*.log

# Node (jika suatu saat pakai build tool)
node_modules/
npm-debug.log

# Secrets & Config
.env
assets/js/firebase-config.js

